{# templates/security/forgot_password.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
<div class="edit_info" style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 50px; gap: 20px;">
    <h1>Forgot Password</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        <button type="submit" class="btn btn-primary">Send Reset Link</button>
    {{ form_end(form) }}
</div>
{% endblock %}
