{% extends 'base.html.twig' %}

{% block title %}
    <title>Confirm Account</title>
{% endblock %}

{% block body %}

<h1>Welcome {{ user.firstName }}!</h1>

<p>To activate your account, please click the link below:</p>

<p><a href="{{ confirmationUrl }}">Confirm my account</a></p>

<p>If you did not expect this email, you can safely ignore it.</p>

{% endblock %}