{% extends 'base.html.twig' %}

{% block body %}
<div class="edit_info" style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 50px; gap: 20px;">
    <h1>Set Your Password</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Set Password</button>
    {{ form_end(form) }}
</div>
{% endblock %}
