{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h1>Exercise 02 - CRUD with SQL</h1>
    <div class="row mt-4">
        <div class="col-md-4 mb-2">
            <a href="{{ path('ex13_reset_db') }}" class="btn btn-danger btn-block">Reset Database</a>
        </div>
        <div class="col-md-4 mb-2">
            <a href="{{ path('ex13_form') }}" class="btn btn-primary btn-block">Add Person</a>
        </div>
        <div class="col-md-4 mb-2">
            <a href="{{ path('ex13_list') }}" class="btn btn-success btn-block">View Persons</a>
        </div>
        <div class="col-md-4 mb-2">
            <a href="{{ path('ex13_employee_list') }}" class="btn btn-secondary btn-block">View Employees</a>
        </div>
    </div>
</div>
{% endblock %}
